.header {
  display: flex;
  align-items: center;
  background-color: #FFE6E6;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  height: 80px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

/* .header__title__img {
  width: 10px;
  height: 10px;
} */

.img__title {
  width: 300px;
  margin-left: 50px;
}

.header__nav {
  margin-left: auto;
  color: #4D4D4D;
}

.header__nav-item {
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.header__nav-item:hover {
  color: rgb(104, 104, 104);
}

.header__nav-item.active {
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.header__nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  .img__title {
    width: 300px;
    margin-left: 0px;
    height: ;
  }

  .header__title__img {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .header {
    display: block;
    height: 100%;
  }

  .header__nav {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .header__title {
    text-align: center;
  }

  .header__nav-item {
    font-size: 16px;
  }

  .header__nav ul{
    justify-content: center;
  }
}


@media (max-width: 420px) {

  .header {
    display: block;
    height: 100%;
  }

  .header__nav-item {
    margin-right: 0;
  }
  

  .header__title {
    text-align: center;
  }

  .header__nav ul{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}