.header {
  display: flex;
  align-items: center;
  background-color: #FFE6E6;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  height: 80px;
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header__nav {
  margin-left: auto;
  color: #4D4D4D;
}

.header__nav-item {
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
}

.header__nav-item:hover {
  color: rgb(104, 104, 104);
}

.header__nav-item.active {
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.header__nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}


@media (max-width: 570px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header__nav {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


@media (max-width: 420px) {

  .header {
    display: block;
  }

  .header__nav-item {
    margin-right: 0;
  }
  

  .header__title {
    text-align: center;
  }

  .header__nav ul{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
}