  .content__about {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
  
  .div__content__about__image {
    width: 40%;
    margin-left: 5px;
    margin-right: 5%;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: cover;
  }

  .content__about__image {
    width: 100%;
    max-height: 800px;
    margin-right: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .content__about__text {
  width: 50%;
  }
  
  @media (max-width: 768px) {
  .content__about__text {
    width: 100%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .div__content__about__image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -50px;
    margin-right: 0px;
    margin-left: 0px;

  }

  .content__about__image {
    width: 40%;
    min-width: 250px;
  }

  .content__about__text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
    
  .content__about__text p {
    font-size: 1rem;
    line-height: 1.4;
    margin-left: 10px;
    margin-right: 5px;
  }
  }
  
