/* .container {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
      flex-direction: column;
  } */

  /* #FFE6E6; */
  /* #ECC3D0 */
  /* #4D4D4D */
  /* #837575 */
