.footer {
  /* Estilos para o componente */
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #837575;
  margin-top: 30px;
  height: 250px;
  color: white;
  line-height: 1.5em;
  padding: 50px 70px;
}

.footer__col {
  /* Estilos para as colunas */
  width: 33%;
}

.footer__title {
  /* Estilos para os títulos */
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.footer__info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.footer__info a {
  margin-bottom: 10px;
}

.footer__instagram {
  /* Estilos para o Instagram */
  text-decoration: none;
  color: white;
}

.father__table {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__info a{
  /* Estilos para o link do endereço */
  text-decoration: none;
  color: white;
}


@media (min-width: 900px) {
  .footer__col {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 900px) {
  .footer {
    font-size: 0.9em;
  }
  .footer__col {
  width: 100%;
  }
  
  .footer__title {
  font-size: 1.5em;
  }
}

.footer__table td {
  padding-right: 25px;
  border-bottom: solid 1px white;
}

@media (max-width: 768px) {
  .footer {
  flex-direction: column;
  font-size: 0.9em;
  text-align: center;
  height: 100%;
  max-height: 500px;
  }
  
  .end {
    text-align: center;
  }

  .footer__col + .footer__col{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  }
  
  .footer__title {
  font-size: 1.5em;
  }
}

